# Ignore virtual environment
venv/
venv-gdz/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment and secret files
.env

# Ignore OS-specific junk
.DS_Store

# Ignore database files
*.sqlite3

# Ignore Flask instance folder
instance/

# Optional: Ignore OS/IDE files
.DS_Store
*.vscode/
